<!DOCTYPE html>
<html>
<head>
  <title>CourseWork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>Course Work</h2>
<%= link_to "Students", students_path %> | <%= link_to "Courses", courses_path %> | <%= link_to "Instructors", instructors_path %> | <%= link_to "Publications", publications_path %>

<%= yield %>

</body>
</html>
